    <div class="card rounded shadow" >
        <div	class="card-content">
            <div	class="card-img">
                <img	src="https://placeimg.com/380/230/nature"	alt="">
                <span style="padding-right: 0.6rem; padding-left: 0.6rem;"><h4>{{lista_destinos.nombre}}</h4></span>
            </div>
            <div	class="card-desc">
                <h3>{{lista_destinos.nombre}}</h3>
                <p>Lorem	ipsum	dolor	sit	amet	consectetur,	adipisicing	elit.	Laboriosam,	voluptatum!	Dolo quo perspiciatis voluptas	totam</p>
                <a	href="#" class="btn-card btn-block">Read</a>			
            </div>
        </div>
    </div>


